@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    background-blend-mode: multiply;
    background-size: cover;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
}

/* header section css */
#header {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    z-index: 10;

    #logo {
        width: auto;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            text-decoration: none;

            p {
                font-size: 2rem;
                color: #ee0909;
                font-family: 'Roboto', sans-serif;
            }
        }
    }

    #search_container {
        width: 48%;

        .search-content {
            width: 100%;
            border-radius: 10px;
            top: 15px;

            #search-area {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: white;

                input {
                    width: 100%;
                    height: 18px;
                    font-size: 1.2rem;
                    padding: 12px;
                    border: none;
                    border-radius: 15px;
                    color: rgb(0, 0, 0);
                    background-color: rgb(255, 255, 255);
                    outline: none;
                    font-family: 'Roboto', sans-serif;
                }


            }

            .results {
                padding: 0px;
                max-height: 600px;
                overflow-y: scroll;

                ul {
                    padding: 0px;
                    margin: 0px;

                    li {
                        list-style: none;
                        // padding: 5px 15px;
                        opacity: 0;
                        display: none;
                        border-radius: 3px;
                        transition: all .5s linear;
                    }
                }
            }
        }
    }

    #right_container {
        display: flex;
        justify-content: space-around;
        margin: 0px 20px;

        button {
            border: none;
            color: red;
            background: none;
            font-size: 2rem;
            cursor: pointer;
            padding: 0px 30px;

            :hover {
                color: #ffff;
                text-decoration: none;
            }
        }

        #list a {
            text-decoration: none;
            color: inherit;
        }
    }
}

#movie-container {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;

    .movie-element {
        margin: 20px;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

        .movie-poster {
            height: 400px;
            width: 280px;


            img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                transition: all .2s ease-in;
            }

            :after {
                content: '\A';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, 0.4);
                border-radius: 20px;
                opacity: 0;
                transition: all ease .5s;

            }

            :hover:after {
                opacity: 1;
            }


        }

        .movie-decription {
            width: 280px;
            height: 140px;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            top: 30rem;
            background: rgba(0, 0, 0, 0.8);
            transition: all .4s ease-in;
            border-radius: 20px;
            font-family: 'Poppins', sans-serif;

            .movie-title {
                padding: 6px;
                text-align: center;
                overflow: hidden;

                a {
                    font-size: 1.5rem;
                    font-weight: 500;
                    color: #ffff;
                }

                :hover {
                    color: #f70606;
                }

            }

            .movie-element-tags {
                width: 245px;
                display: flex;
                justify-content: space-around;
                padding: 1.2rem 0;

                .movie-rating {
                    font-size: 1.2rem;
                    font-weight: 500;
                    color: red;
                }

                .add-movie-to-list {
                    font-size: 1.4rem;
                    color: red;

                    :hover {
                        color: #ffff;
                        cursor: pointer;
                    }
                }
            }


        }

        .movie-element:hover {
            border: 2px solid red;

        }

    }

    :hover .movie-decription {
        top: 18.4rem;
    }
}



/* responsiveness and media queries */
@media screen and (max-width:950px) {
    #logo {
        width: 200px;
        height: auto;
    }
}

@media screen and (max-width:700px) {
    #header {
        flex-direction: column;
    }

    #page-heading {
        padding-top: 140px;
    }

    #right_container {
        margin: 10px;
    }

    #search_container {
        margin: 10px;
    }

    #back-to-home {
        top: 15px;
        left: 15px;
        margin: 0;
    }
}

@media screen and (max-width:700px) {
    #page-heading {
        font-size: 4rem;
    }
}

@media screen and (max-width:550px) {
    #page-heading {
        font-size: 4.5rem;
        padding-top: 140px;
    }

    .page-navigation {
        flex-direction: column;
    }
}

@media screen and (max-width:380px) {
    #page-heading {
        padding-top: 150px;
    }
}